<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>New Inventory Page</h1>
        <form action="/projectmgt" method="POST">
            Task -or- Item:             <input type="text" name="name"/><br/>
            Work Done By -or- Vendor:   <input type="text" name="amount"/><br/>
            Cost:                       <input type="text" name="Cost"/><br/>
            Time Frame:                 <input type="text" name="description"/><br/>
            Description:                <input type="text" name="description"/><br/>
            Bought:                     <input type="checkbox" name="readyToEat" /><br/>
            Installed:                  <input type="checkbox" name="readyToEat" /><br/>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>