<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Show Page</h1>
    <table>
        <tr>
            <th >Task -or- Item</th>
            <th>Work done by -or- Vendor</th>
            <th>Cost</th>
            <th>Time Frame</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </table>
    
    </div>
    <nav>
        <a href="/projectmgt">Back To Index Page</a>
    </nav>
</body>
</html>